// Here you can add other styles
.container_attendance_per_day_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component_none {
  display: none;
}

.image_wrapper,
#streaming {
  width: 400px;

  img {
    width: 100%;
  }
}

.component_logo {
  img {
    width: 200px;
    margin-left: 20px;
  }
}

.component_login_image_wrapper {
  margin-top: 20px;
  img {
    margin: auto;
    display: block;
    width: 50%;
  }
}

.component_splash_screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;

  p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  img {
    width: 200px;
  }

  & > div:last-child {
    margin-top: 50px;
  }
}
